/*temporary styles*/

header {
    background-image: url("lords-of-rings-vlastelin.jpg");
    position: fixed;
}

/*end*/
.BigBox{
    width: 1000px;
    margin: -7px auto;
}
body {
    font-family: PT Sans, sans-serif;
    background-image: url('back.jpg');
    background-attachment: scroll;
}

a, p span{
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #b0b0b0;
}

.container {
    width: 1000px;
    border-radius: 5px;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    padding-top: 100px;
}

.left {
    width: 30%;
    background-color:none;
}

.right {
    width: 70%;
    background-color: none;
    margin-left: 20px
}

article img {
    width: 150px;
    cursor: pointer;
    margin: 20px;
}

article {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: black;
}

article h2 {
    margin: 0;
}