
/*temporary styles*/
header{
    background-color: gray;
}
.head{
    background-color: gray;
}
/*end*/
body{
    font-family: PT Sans, sans-serif;
    background-image: url('/back.jpg');
}
a{
    color: #404040;
}
a:hover{
    color: #b0b0b0;
}
.container {
	width: 1000px;
    margin: -5px auto;
}
header{
    height: 100px;
    display: flex;
    justify-content: center;
}
nav a{
    text-decoration: none;
    
}
main{
    display: flex;
}
.left{
    width: 30%;
    background-color: gray;
}
.right{
    width: 70%;
    background-color: gray;
}
article img{
    width: 150px;
    cursor: pointer;
    margin: 10px;
}
article{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}
article h2{
    margin: 0;
}